<div class="max-w-4xl mx-auto bg-gray-800 p-8 rounded-lg shadow-lg">
  <h2 class="text-3xl font-bold mb-6 text-yellow-400 text-center">
    Atomise Giga-Links to Quantum-Sized URLs
  </h2>

  <div id="form-container">
    <%= render partial: "form", locals: { url: @url } %>
  </div>
</div>

<div class="mt-12 max-w-6xl mx-auto">
  <h2 class="text-3xl font-bold mb-6 text-yellow-400">Recent Shortened URLs</h2>
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-700">
      <thead class="bg-gray-700">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-yellow-300 uppercase tracking-wider">
            Short URL
          </th>
          <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-yellow-300 uppercase tracking-wider">
            Original URL
          </th>
          <th scope="col" 
              class="px-6 py-3 text-left text-sm font-medium text-yellow-300 uppercase tracking-wider" 
              colspan="<%= user_signed_in? ? 1 : 2 %>">
            Title
          </th>
          <% if user_signed_in? %> <!-- Check if user is signed in -->
            <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-yellow-300 uppercase tracking-wider">
              Actions
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody id="recent-urls" class="bg-gray-800 divide-y divide-gray-700">
        <% @urls.each do |url| %>
          <%= render partial: "url", locals: { url: url } %>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <!-- Pagination Controls -->
  <div class="mt-6 flex justify-end items-center">
    <%= paginate @urls %>
  </div>
</div>

